body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b0082;
    padding: 1em;
    text-align: center;
	padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {

    padding: 2em;
	    flex: 1;
    background-color: #8a1be2;
}

footer {
    background-color: #8a2be2;
    color: white;
    text-align: center;
    padding: 10px 0;
	width: 100%;
	position: relative;
	bottom: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;

    background: #8a3be2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 1em;
    display: block;
}

input, select, textarea, button {
    width: calc(100% - 1.4em);
    padding: 0.7em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: #4b0082;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background: #8a2be2;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-media a img {
    width: 40px;  /* Taille des logos */
    height: 40px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.2);
}


.hero {
    text-align: center;
    background: #dda0dd;
    padding: 50px 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    background: #d8bfd8;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    transition: background 0.3s, transform 0.3s;
}

.feature:hover {
    background: #dda0dd;
    transform: translateY(-5px);
}

.feature h2 {
    margin: 0 0 10px;
}

.feature p {
    margin: 0;
}